<a href="https://colab.research.google.com/github/ViniiCh4g4s/AnimaCursoExtensaoPython2023-1/blob/main/aula2-2023-02-07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Primeiro exemplo de manipulação de dados usando Python Pandas
# Autor: Vinicius Chagas
# Data: 6/7 de fevereiro de 2023

# -------------------------------------------------------------------

# importando biblioteca pandas no Python
import pandas as pd

combustiveis_df = pd.read_excel("ca-2021-02.xlsx")

In [7]:
# Usa o print para ver o dataframe!
print(combustiveis_df.head(2))

  Regiao - Sigla Estado - Sigla  Municipio               Revenda  \
0             NE             AL  ARAPIRACA  POSTO ARAPIRACA LTDA
1             NE             AL  ARAPIRACA  POSTO ARAPIRACA LTDA

       CNPJ da Revenda     Nome da Rua Numero Rua Complemento       Bairro  \
0   12.451.076/0004-65  RODOVIA AL 220        105       KM 68  CANAFISTULA
1   12.451.076/0004-65  RODOVIA AL 220        105       KM 68  CANAFISTULA

         Cep   Produto Data da Coleta  Valor de Venda  Valor de Compra  \
0  57302-605  GASOLINA     2021-11-01           6.799              NaN
1  57302-605    ETANOL     2021-11-01           5.299              NaN

  Unidade de Medida       Bandeira
0        R$ / litro  VIBRA ENERGIA
1        R$ / litro  VIBRA ENERGIA

In [8]:
display(combustiveis_df.head(2))

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA

In [13]:
# Comandos dataframe.shape e dataframe.describe()
print(combustiveis_df.shape)
# Mostra o número de linhas e colunas (linhas, colunas)

# Mostra só linhas
print(combustiveis_df.shape[0])

(168409, 16)
168409

In [14]:
# Quais são as colunas e que tipo de dados cada um tem
print(combustiveis_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168409 entries, 0 to 168408
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     168409 non-null  object
 1   Estado - Sigla     168409 non-null  object
 2   Municipio          168409 non-null  object
 3   Revenda            168409 non-null  object
 4   CNPJ da Revenda    168409 non-null  object
 5   Nome da Rua        168409 non-null  object
 6   Numero Rua         168353 non-null  object
 7   Complemento        35057 non-null   object
 8   Bairro             168043 non-null  object
 9   Cep                168409 non-null  object
 10  Produto            168409 non-null  object
 11  Data da Coleta     168409 non-null  datetime64[ns]
 12  Valor de Venda     168409 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  168409 non-null  object
 15  Bandeira           168409 non-null  object
dtypes: datetime64[ns](1), float64(2), object(13)
memory usage: 20.6+ MB
None

In [15]:
# Mostra as estastísticas mais básicas que precisamos
print(combustiveis_df.describe())

       Valor de Venda  Valor de Compra
count   168409.000000              0.0
mean         6.005184              NaN
std          0.794541              NaN
min          2.849000              NaN
25%          5.339000              NaN
50%          5.859000              NaN
75%          6.699000              NaN
max          8.990000              NaN

In [18]:
# Filtrar apenas por uma coluna
print(combustiveis_df['Revenda'].tail(10))

168399    VICMAR COMERCIO DE COMBUSTIVEIS E LUBRIFICANTE...
168400    VICMAR COMERCIO DE COMBUSTIVEIS E LUBRIFICANTE...
168401    VICMAR COMERCIO DE COMBUSTIVEIS E LUBRIFICANTE...
168402           COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA
168403           COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA
168404           COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA
168405                    ABC DISTRIBUICAO DE PETROLEO LTDA
168406                    ABC DISTRIBUICAO DE PETROLEO LTDA
168407                    ABC DISTRIBUICAO DE PETROLEO LTDA
168408                    ABC DISTRIBUICAO DE PETROLEO LTDA
Name: Revenda, dtype: object

In [23]:
# Novo dataframe com filtro
ca_df = combustiveis_df[['Revenda', 'Municipio', 'Valor de Venda']]

display(ca_df.head(10))

                          Revenda        Municipio  Valor de Venda
0            POSTO ARAPIRACA LTDA        ARAPIRACA           6.799
1            POSTO ARAPIRACA LTDA        ARAPIRACA           5.299
2            POSTO ARAPIRACA LTDA        ARAPIRACA           5.549
3            POSTO ARAPIRACA LTDA        ARAPIRACA           6.899
4            POSTO ARAPIRACA LTDA        ARAPIRACA           5.649
5  AUTO POSTO FREITAS & MAIA LTDA  DELMIRO GOUVEIA           7.198
6  AUTO POSTO FREITAS & MAIA LTDA  DELMIRO GOUVEIA           5.982
7  AUTO POSTO FREITAS & MAIA LTDA  DELMIRO GOUVEIA           5.974
8  AUTO POSTO FREITAS & MAIA LTDA  DELMIRO GOUVEIA           7.208
9  AUTO POSTO FREITAS & MAIA LTDA  DELMIRO GOUVEIA           5.983